@import 'reset';
@import 'ibm-colors';
$font-prefix: '../..';
@import './ibm-plex/ibm-plex';

html, body {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    height: 100%;
    width: 100%;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

.clear {
	clear: both;
}

.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}

a {
	text-decoration: none;
	color: inherit;
}
